$clockHigh: 350px;
$clockWidth: $clockHigh;
$clockBorder: $clockWidth*0.03 solid rgb(230, 187, 0);
body{
    background: rgb(131, 131, 206);
}
.center{
    position:absolute; /*it can be fixed too*/
    left:50%; 
    top:50%; 
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.face{
    position: absolute;
    width: $clockHigh;
    height: $clockWidth;
    background-image: url('cf.png');
    background-size: contain;
    background-size: cover;
    border-radius: 50%;
    border: $clockBorder;
}
.sec, .min, .hou{
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20%;
    transform-origin: 0% 50%;
}
.sec{
    width: $clockHigh/2.5;
    background: black;
}
.min{
    height: 5px;
    width: $clockHigh/3;
    background: rgb(200, 200, 134);
    transition: all 1s;
}
.hou{
    height: 5px;
    width: $clockHigh/4;    
    background: red;
    transition: all 1s;
}
.dot{
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;;
}