body{
    margin:0; 
    padding: 0;
}
.container{
    display: flex;
    div{
        &:nth-child(odd) {
            background: rgb(245, 98, 85);
        }  
        &:nth-child(even) {
            background: rgb(56, 126, 255);
        }
    }
    h2{
        color: white;
        text-align: center;
    }
}
.item{
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 1s;
}
.active{
    flex: 1 1 6s0%;
    .bottom{
        transform: translate(0, 500%);
        transition: all 1s;
    }
    .top{
        transform: translate(0, -500%);
        transition: all 1s;
    }
}
.top, .bottom{
    position: fixed;
}
.top{
    transform: translate(0, -2000%);
}
.bottom{
    transform: translate(0, 2000%);
}
