.container{
    display: flex;

    div{
        &:nth-child(odd) {
            background: red;
        }  
        &:nth-child(even) {
            background: blue;
        }
    }
    
}
.item{
    height: 100vh;
    flex: 1;
}
.selected{
    flex: 1 1 80%;
}