:root {
    --size: 45px;
    --color: #57008a;
    --filter: 0px;
}

body{
    background: coral;
    margin: 0;
}
.container{
    display: flex;
}
.toolbox{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    user-select: none;
}
.sample{
    width: var(--size);
    height: var(--size);
    background-color: var(--color);
    filter: blur(var(--filter));
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}
canvas{
    cursor: crosshair;
}
button{
    padding: 5px;
    color: white;
    background: rgb(0, 87, 218);
    border-radius: 5px;
    border: 2px solid pink;
    &:hover{
        background: rgb(106, 148, 212);
    }
}