:root {
    --spacing: 5px;
    --frameColor: #ffffff;
    --blur: 0px;
}

body{
    background: rgb(36, 36, 36);
    color: #ffffffbe;
}
.controls{
    position: fixed;
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    label{
        display: block;
    }
    z-index: 1;
}
.content{
    padding: var(--spacing);
    background: var(--frameColor);
    filter: blur(var(--blur));
    img{
        width: 400px;
        display: block;
        @media (max-width: 567px){
            width: 250px;
        }
    }
    z-index: 0;
    margin-top: 30px;
}
.center{
    position:absolute; 
    left:50%; 
    top:50%; 
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center-hor{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    // margin: 0 auto;
}